.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  z-index: 1000;
  color: #f8f6f3;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.logo-img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  border-radius: 15%;
}

.logo-text {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  letter-spacing: 2px;
  color: #5D4157;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #bfa37a;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav a {
  color: #b8945d;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #bfa37a;
}
